<div class="row">
    <div id="login" class="col s6 offset-s3">
        {{#if ResetError}}
            <p class="alert">{{ResetError}}</p>
        {{/if}}
        <h3>Забыли пароль</h3>
        <form method="POST" action="/auth/reset">
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
                <span class="helper-text" data-error="Введите email"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Сбросить</button>
        </form>
    </div>
</div>

